# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#load and read csv and creat a df 
city_weather_data = "output_vacation/city_weather.csv"

city_weather_data = pd.read_csv(city_weather_data)

# Combine the data into a single dataset
city_weather = pd.DataFrame(city_weather_data)
city_weather

,Unnamed: 0,City,Country,Date,Max Temp,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,103,Torbay,CA,1603627200,49.98,99,95,15.79,47.6666,-52.7314
1,245,Mnogovershinnyy,RU,1603627200,36.10,99,100,13.20,53.9353,139.9242
2,522,Kiruna,SE,1603627200,28.17,99,91,3.22,67.8557,20.2251
3,171,Gari,RU,1603627200,31.35,99,95,2.10,59.4307,62.3497
4,307,Vuktyl,RU,1603627200,26.94,98,100,7.61,63.8567,57.3094
...,...,...,...,...,...,...,...,...,...,...
536,478,Harsīn,IR,1603627200,79.97,10,0,7.07,34.2721,47.5861
537,239,Djibo,BF,1603627200,98.10,10,0,14.83,14.1022,-1.6306
538,262,Filingué,NE,1603627200,97.95,10,59,10.89,14.3521,3.3168
539,513,Senanga,ZM,1603627200,102.52,9,0,10.07,-16.1167,23.2667
540,208,Douentza,ML,1603627200,97.81,9,0,11.83,14.9951,-2.9517

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
#Store lat and long as locations and hum as weight
locations = city_weather[["Latitude", "Longitude"]].astype(float)
hum = city_weather["Humidity"].astype(float)

In [19]:
#Add heatmap layer to map
fig = gmaps.figure(center=(50.0, -100.0), zoom_level=3)

heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=hum,
                                    opacity=1,
                                    dissipating=False,
                                    max_intensity=100,
                                    point_radius = 1)

fig.add_layer(heatmap_layer)

#saving figure
#plt.savefig('output_vacation/heatmap_hum.png')

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure